<h2 align="center">Reported Cases and Deaths by Country, Territory, or Conveyance</h2>
<p align="center">The coronavirus COVID-19 is affecting 210 countries and territories
  around the world and 2 international conveyances.Learn more about Worldometer's COVID-19 data</p>
<div></div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search.....">
</mat-form-field>
<div class="mat-elevation-z14">
<table #table mat-table [dataSource]="dataSource" matSort>

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!--1.Country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country. </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- 2.Cases Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases </th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- 3.TodayCases Column -->
  <ng-container matColumnDef="todayCases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TodayCases. </th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>

  <!-- 4.Deaths Column -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths. </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>


  <!-- 5.TodayDeaths Column -->
  <ng-container matColumnDef="todayDeaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TodayDeaths. </th>
    <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
  </ng-container>

  <!--6. Recovered Column -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recovered. </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <!-- 7.Active Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active. </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>

  <!-- 8.Critical Column -->
  <ng-container matColumnDef="critical">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Critical. </th>
    <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
  </ng-container>

  <!-- 9.CasesPerOneMillion Column -->
  <ng-container matColumnDef="casesPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases/1M pop. </th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
  </ng-container>

  <!-- 10.DeathsPerOneMillion Column -->
  <ng-container matColumnDef="deathsPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Deaths/1M pop. </th>
    <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
  </ng-container>

  <!-- 11.Tests Column -->
  <ng-container matColumnDef="tests">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tests. </th>
    <td mat-cell *matCellDef="let element"> {{element.tests}} </td>
  </ng-container>

  <!-- 12.TestsPerOneMillion Column -->
  <ng-container matColumnDef="testsPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tests/1M pop. </th>
    <td mat-cell *matCellDef="let element"> {{element.testsPerOneMillion}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator>
</div>